@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Ribeye&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Ribeye&family=Ribeye+Marrow&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Fuzzy+Bubbles:wght@400;700&family=Ribeye&family=Ribeye+Marrow&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFF1CA;
}
header{
    background-color: #830e0e;
    color: white;
    text-align: center;
    position: sticky;
    top: 0;
}
nav{
    display:flex;
    align-items: baseline;
    justify-content: space-between;
    border: 2px solid white;
}
nav h2{
    margin-left: 30px;
    margin-right: 30px;
}
h1{
    padding: 20px;
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}
h2{
    text-align: center;
}
p{
    color: #251513;
}
img{
    width: 150px;
    height: 200px;
}
section{
    background-color: #FFDE63;
    border-radius: 20px;
    border: solid #FFA02E;
    text-align: center;
    margin: 40px 50px;
}
section h2{
    margin: 20px;
}
section p{
    margin: 20px;
}
div{
    display: flex;
    justify-content: space-around;
}

#coco-torta{
    background-color: #F48F68;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
#coco-torta img{
    width: 200px;
    height: 200px;
}

#ricotta{
    background-color: #e27575;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
#ricotta img{
    width: 200px;
    height: 200px;
}
#pastafrola{
    background-color: #DD9E59;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
#pastafrola img{
    width: 200px;
    height: 200px;
}
.fila img{
    width: 500px;
    height: 70px;
}
#tresleches{
    background-color: rosybrown;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
#tresleches img{
    width: 200px;
    height: 200px;
}
#zanahoria{
    background-color: #FF9D23;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
#zanahoria img{
    width: 200px;
    height: 200px;
}
#flan{
    background-color: #FFB399;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
#flan img{
    width: 200px;
    height: 200px;
}
#dos-div{
    background-color: #DC9B9B;
}
#tres-div{
    background-color: #DD9E59;
}

#cinco-div{
    background-color: #A47251;
}
#seis-div{
    background-color: #FFEF91;
}
#siete-div{
    background-color: #FFA02E;
}
#nueve-div{
    background-color: #8A2D3B;
}
.ubicacion{
    flex-direction: column;
    background-color: #FFB399;
}
.ubicacion h2{
    padding: 20px;
    text-align: center;
}
.mapa{
    padding: 20px;
    display: flex;
    align-items: center;
}
.texto{
    margin: 30px;
    display: flex;
    flex-direction: column;
}
footer{
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}
.redes-sociales{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 390px;
    padding-bottom: 40px;
}
.icono-red-social{
    width: 30px;
    height: 30px;
}
.fresa{
    padding-top: 118%;
    position: relative;
}